**Dia 5: Selecionando Linhas com .loc[] e .iloc[]:** Entenda a diferença crucial entre selecionar por rótulo (.loc) e por posição numérica (.iloc).

In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame({
    'Produto': [
        'Produto_1', 'Produto_2', 'Produto_3', 'Produto_4', 'Produto_5',
        'Produto_6', 'Produto_7', 'Produto_8', 'Produto_9', 'Produto_10',
        'Produto_11', 'Produto_12', 'Produto_13', 'Produto_14', 'Produto_15',
        'Produto_16', 'Produto_17', 'Produto_18', 'Produto_19', 'Produto_20'
    ],
    'Preco': [
        10.50, 23.90, 5.75, 48.00, 12.99,
        75.00, 34.50, 8.99, 19.99, 55.55,
        27.40, 66.60, 42.00, 7.80, 9.90,
        15.00, 39.99, 22.50, 60.00, 11.25
    ],
    'Quantidade': [
        10, 5, 8, 12, 6,
        15, 7, 3, 9, 4,
        11, 14, 2, 13, 8,
        16, 5, 6, 12, 7
    ],
    'Categoria': [
        'A', 'B', 'A', 'C', 'B',
        'A', 'B', 'C', 'A', 'C',
        'B', 'A', 'C', 'B', 'A',
        'C', 'B', 'A', 'C', 'B'
    ],
    'Desconto(%)': [
        5, 10, 0, 15, 20,
        5, 25, 0, 10, 30,
        5, 0, 20, 15, 10,
        5, 0, 25, 15, 5
    ]
})

**loc[]:** vai localizar a coluna pelo rótulo do dataframe, ou seja, o nome da coluna.

In [14]:
df['Categoria']

0     A
1     B
2     A
3     C
4     B
5     A
6     B
7     C
8     A
9     C
10    B
11    A
12    C
13    B
14    A
15    C
16    B
17    A
18    C
19    B
Name: Categoria, dtype: object

**iloc[]:** vai localizar a linha pelo índice do dataframe.

In [29]:
# Localiza a linha de índice 1 inteira
df.iloc[[0]]

     Produto  Preco  Quantidade Categoria  Desconto(%)
0  Produto_1   10.5          10         A            5

In [24]:
# Localiza o range de linhas da 0 até a 5
df.iloc[0:5]

     Produto  Preco  Quantidade Categoria  Desconto(%)
0  Produto_1  10.50          10         A            5
1  Produto_2  23.90           5         B           10
2  Produto_3   5.75           8         A            0
3  Produto_4  48.00          12         C           15
4  Produto_5  12.99           6         B           20

In [31]:
# Localiza a linha pelo índice referente a coluna especificada. (df.loc[linha, coluna])
df.loc[1, 'Categoria']

'B'

In [34]:
# Localiza a linha e a coluna. df.iloc[linha, coluna]
df.iloc[0, 0]

'Produto_1'

### Exercícios

In [36]:
df.head()

     Produto  Preco  Quantidade Categoria  Desconto(%)
0  Produto_1  10.50          10         A            5
1  Produto_2  23.90           5         B           10
2  Produto_3   5.75           8         A            0
3  Produto_4  48.00          12         C           15
4  Produto_5  12.99           6         B           20

Exercício 1:
<br>
Usando .loc, qual é o Preco e a Categoria do produto que está no índice 3?

In [93]:
df.loc[[df.index[3]], ['Preco', 'Categoria']]

   Preco Categoria
3   48.0         C

Exercício 2:
<br>
Usando .iloc, encontre a mesma informação do exercício anterior. Para isso, selecione a quarta linha (posição 3) e a segunda e quarta colunas (posições 1 e 3).

In [92]:
df.iloc[[3], [1, 3]]

   Preco Categoria
3   48.0         C

Exercício 3:
<br>
Com .loc, mostre as colunas Produto e Preco para o intervalo de produtos do índice 5 até o 8 (inclusive).

In [86]:
# Por ser um iloc, deve-se usar o .index antes de indicar o range de linhas desejado.
df.loc[df.index[5:8], ['Produto', 'Preco']]

     Produto  Preco
5  Produto_6  75.00
6  Produto_7  34.50
7  Produto_8   8.99

Exercício 4:
<br>
Um dos usos mais poderosos do .loc é a filtragem por condição. Selecione todos os produtos que pertencem à Categoria 'A'. Para esses produtos, mostre apenas as colunas Produto, Preco e Quantidade.

In [96]:
df.loc[df['Categoria'] == 'A', ['Produto', 'Preco', 'Quantidade']]

       Produto  Preco  Quantidade
0    Produto_1  10.50          10
2    Produto_3   5.75           8
5    Produto_6  75.00          15
8    Produto_9  19.99           9
11  Produto_12  66.60          14
14  Produto_15   9.90           8
17  Produto_18  22.50           6

Exercício 5:
<br>
Usando .iloc, selecione as 5 primeiras linhas do DataFrame (posições 0 a 5, lembrando que o final é exclusivo) e, para essas linhas, mostre apenas as 3 últimas colunas (Quantidade, Categoria e Desconto(%)).

In [95]:
# Primeiro define o range (linha 0 à 4) e depois as colunas desejadas. Como é iloc, as colunas devem ser definidas pelo seu índice.
df.iloc[0:5, [2, 3, 4]]

   Quantidade Categoria  Desconto(%)
0          10         A            5
1           5         B           10
2           8         A            0
3          12         C           15
4           6         B           20