In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'Produto': [
        'Produto_1', 'Produto_2', 'Produto_3', 'Produto_4', 'Produto_5',
        'Produto_6', 'Produto_7', 'Produto_8', 'Produto_9', 'Produto_10',
        'Produto_11', 'Produto_12', 'Produto_13', 'Produto_14', 'Produto_15',
        'Produto_16', 'Produto_17', 'Produto_18', 'Produto_19', 'Produto_20'
    ],
    'Preco': [
        10.50, 23.90, 5.75, 48.00, 12.99,
        75.00, 34.50, 8.99, 19.99, 55.55,
        27.40, 66.60, 42.00, 7.80, 9.90,
        15.00, 39.99, 22.50, 60.00, 11.25
    ],
    'Quantidade': [
        10, 5, 8, 12, 6,
        15, 7, 3, 9, 4,
        11, 14, 2, 13, 8,
        16, 5, 6, 12, 7
    ],
    'Categoria': [
        'A', 'B', 'A', 'C', 'B',
        'A', 'B', 'C', 'A', 'C',
        'B', 'A', 'C', 'B', 'A',
        'C', 'B', 'A', 'C', 'B'
    ],
    'Desconto(%)': [
        5, 10, 0, 15, 20,
        5, 25, 0, 10, 30,
        5, 0, 20, 15, 10,
        5, 0, 25, 15, 5
    ]
})

Média de preço

In [5]:
preco_medio = df['Preco'].mean().round(2)

Maior preço

In [6]:
maior_preco = df['Preco'].max()

Menor preço

In [7]:
menor_preco = df['Preco'].min()

Verificando os produtos únicos

In [8]:
unicos = df['Produto'].drop_duplicates()
print(unicos)

0      Produto_1
1      Produto_2
2      Produto_3
3      Produto_4
4      Produto_5
5      Produto_6
6      Produto_7
7      Produto_8
8      Produto_9
9     Produto_10
10    Produto_11
11    Produto_12
12    Produto_13
13    Produto_14
14    Produto_15
15    Produto_16
16    Produto_17
17    Produto_18
18    Produto_19
19    Produto_20
Name: Produto, dtype: object

Contando os valores únicos

In [9]:
qtd_unicos = df['Produto'].nunique()
qtd_unicos

20

Contando a quantidade de colunas

In [10]:
colunas = df.columns
qtd_colunas = colunas.nunique()
qtd_colunas

5

Pegando o nome do produto mais barato

In [11]:
produto_mais_barato = df.loc[df['Preco'] == menor_preco, 'Produto'].values[0]
print(produto_mais_barato)

Produto_3

Pegando o nome do produto com maior desconto

In [18]:
maior_desconto = df['Desconto(%)'].max()
produto_maior_desconto = df.loc[df['Desconto(%)'] == maior_desconto, 'Produto'].values[0]
produto_maior_desconto

'Produto_10'

Pegando o nome do produto mais caro

In [19]:
produto_mais_caro = df.loc[df['Preco'] == maior_preco, 'Produto'].values[0]
produto_mais_caro

'Produto_6'

Criando uma coluna de valor agredado (Quantidade x Preco)

In [14]:
valor_agredado = df.eval('Valor_Agregado = Quantidade * Preco', inplace=False).sort_values(by='Valor_Agregado', ascending=False)
estoque_mais_caro = valor_agredado['Valor_Agregado'].max()
valor_agredado

       Produto  Preco  Quantidade Categoria  Desconto(%)  Valor_Agregado
5    Produto_6  75.00          15         A            5         1125.00
11  Produto_12  66.60          14         A            0          932.40
18  Produto_19  60.00          12         C           15          720.00
3    Produto_4  48.00          12         C           15          576.00
10  Produto_11  27.40          11         B            5          301.40
6    Produto_7  34.50           7         B           25          241.50
15  Produto_16  15.00          16         C            5          240.00
9   Produto_10  55.55           4         C           30          222.20
16  Produto_17  39.99           5         B            0          199.95
8    Produto_9  19.99           9         A           10          179.91
17  Produto_18  22.50           6         A           25          135.00
1    Produto_2  23.90           5         B           10          119.50
0    Produto_1  10.50          10         A            5          105.00
13  Produto_14   7.80          13         B           15          101.40
12  Produto_13  42.00           2         C           20           84.00
14  Produto_15   9.90           8         A           10           79.20
19  Produto_20  11.25           7         B            5           78.75
4    Produto_5  12.99           6         B           20           77.94
2    Produto_3   5.75           8         A            0           46.00
7    Produto_8   8.99           3         C            0           26.97

Somando o valor agregado total do estoque

In [21]:
valor_total_estoque = valor_agredado['Valor_Agregado'].sum()
print(valor_total_estoque)

5592.12

Pegando o nome do produto com maior valor agredado no estoque.

In [16]:
maior_valor_de_estoque = df.loc[valor_agredado['Valor_Agregado'] == estoque_mais_caro, 'Produto'].values[0]
maior_valor_de_estoque

'Produto_6'

Resumo da análise

In [17]:
print(f'A base de dados tem {qtd_unicos} linhas e {qtd_colunas} colunas.\n' +
      f'O produto mais caro é o "{produto_mais_caro}" que custa R${maior_preco}\n' +
      f'O mais barato é o "{produto_mais_barato}" que custa R${menor_preco}.\n' +
      f'O produto com maior desconto é o {produto_maior_desconto}, tendo {maior_desconto}% de desconto.\n'
      f'O ticket médio da base de dados é de R${preco_medio}.\n'
      f'Temos um valor total de estoque de R${valor_total_estoque}, onde o {maior_valor_de_estoque} tem o maior valor agregado (R${estoque_mais_caro})')

A base de dados tem 20 linhas e 5 colunas.
O produto mais caro é o "Produto_6" que custa R$75.0
O mais barato é o "Produto_3" que custa R$5.75.
O produto com maior desconto é o Produto_10, tendo 30% de desconto.
O ticket médio da base de dados é de R$29.88.
Temos um valor total de estoque de R$5592.12, onde o Produto_6 tem o maior valor agregado (R$1125.0)