In [41]:
import requests
import json
import pandas as pd
import os

In [107]:
url = 'https://dogapi.dog/api/v2/facts'
response = requests.get(url)
dados = response.json()

In [108]:
print(json.dumps(dados, indent=3))

{
   "data": [
      {
         "id": "5ebe029b-b4e8-4c90-8c03-8623ba2c0b9a",
         "type": "fact",
         "attributes": {
            "body": "Puppies\u2019 eyes do not fully open until they\u2019re about 12 days old."
         }
      }
   ]
}

In [109]:
body = dados['data'][0]['attributes']['body']
body

'Puppies’ eyes do not fully open until they’re about 12 days old.'

In [110]:
id = dados['data'][0]['id']
id

'5ebe029b-b4e8-4c90-8c03-8623ba2c0b9a'

In [111]:
geral = dados['data'][0]
print(json.dumps(geral, indent=4))

{
    "id": "5ebe029b-b4e8-4c90-8c03-8623ba2c0b9a",
    "type": "fact",
    "attributes": {
        "body": "Puppies\u2019 eyes do not fully open until they\u2019re about 12 days old."
    }
}

In [112]:
contador = 0
jsonCompleto = []

while contador < 3:
    response = requests.get(url)
    data = response.json()
    fact = data['data'][0]
    jsonCompleto.append(fact)
    contador += 1

In [113]:
print(json.dumps(jsonCompleto, indent=4))

[
    {
        "id": "9dfd100d-47da-4b24-b712-9889ac1bee85",
        "type": "fact",
        "attributes": {
            "body": "When \"Bobbie,\" a Collie/Shepherd mix, was accidentally abandoned on a family vacation, he traveled 2,551 miles over six months to return to his home."
        }
    },
    {
        "id": "a9b11a26-82cb-4fb7-aa7a-9ef556ad4712",
        "type": "fact",
        "attributes": {
            "body": "Chocolate is poisonous to dogs because it contains theobromine."
        }
    },
    {
        "id": "e2e12e01-43cc-44c9-b6e6-d942d2805b43",
        "type": "fact",
        "attributes": {
            "body": "Greyhounds can reach a speed of up to 45 miles per hour."
        }
    }
]

In [114]:
df = pd.json_normalize(jsonCompleto)

In [115]:
df.rename(columns={'type': 'Tipo', 'attributes.body': 'Descrição'}, inplace=True)

In [123]:
path = 'relatorio.xlsx'

if os.path.exists(path):
    df_existente = pd.read_excel(path)
    novos_dados = df[~df['id'].isin(df_existente['id'])]
    df_concatenado = pd.concat([df_existente, novos_dados], ignore_index=True)
else:
    df_concatenado = df

df_concatenado.to_excel(path, index=False)

In [62]:
df_existente

,id,type,attributes.body
0,7f8a117c-4652-4ce8-a3c9-a01e70fe796d,fact,Dog noses are also very cute and easy to boop.
1,1a4fd08d-88ec-4bc2-95cd-262870e22eab,fact,Cerberus was the tri-headed dog that guarded t...
2,035c13e1-fcd3-4cc0-b181-b2a4d79732b6,fact,"Irish Wolfhounds, the tallest breed, are 30 to..."

In [88]:
linhas = len(df)
contador = 0

while contador < linhas:
    print(df.iloc[contador])
    contador += 1

id                     7f8a117c-4652-4ce8-a3c9-a01e70fe796d
Tipo                                                   fact
Descrição    Dog noses are also very cute and easy to boop.
Name: 0, dtype: object
id                        1a4fd08d-88ec-4bc2-95cd-262870e22eab
Tipo                                                      fact
Descrição    Cerberus was the tri-headed dog that guarded t...
Name: 1, dtype: object
id                        035c13e1-fcd3-4cc0-b181-b2a4d79732b6
Tipo                                                      fact
Descrição    Irish Wolfhounds, the tallest breed, are 30 to...
Name: 2, dtype: object