In [1]:
import pandas as pd

### SERIES

Entenda como uma "coluna" com índice.
<br>
<br>
Geralmente armazena um único tipo de dado (int, string, etc).
<br>
<br>
É uma estrutura unidimensional.

In [4]:
notas = pd.Series([1,2,3,4,5])
print(notas)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### DATAFRAME

É como se fosse uma junção de várias series (matriz). Visualize como se fosse uma planilha do Excel ou o output de um SELECT em um banco de dados.
<br>
<br>
Pode ter várias colunas e cada coluna é uma "Series" do pandas.
<br>
<br>
Pode armazenar diferentes tipos de dados. Em uma coluna pode ter inteiros, na outra strings e assim por diante.
<br>
<br>
É uma estrutura bidimensional. 
<br>
<br>
**P.S.:** todas as colunas devem ser do mesmo tamanho. Se colocar uma coluna com 5 nomes e outra com 6 notas vai dar erro.

In [7]:
alunos = pd.DataFrame({
    'Nome': ['João', 'Ana', 'Maria'],
    'Idade': [18, 19, 21],
    'Nota': [9.8, 10, 6.5]
})

print(alunos)

    Nome  Idade  Nota
0   João     18   9.8
1    Ana     19  10.0
2  Maria     21   6.5

# Exercícios

**Exercício 1: Criando uma Series**
<br>
<br>
Objetivo: Criar uma Series em Pandas para armazenar a quantidade de vendas de 5 produtos diferentes, usando o nome dos produtos como índice.

In [17]:
# Criação dos arrays
produtos = ['copo','celular','caderno','caneta','televisão']
qtd_vendas = [5, 2, 5, 7, 3]

# Criação da Series (juntando os arrays)
vendas = pd.Series(data=qtd_vendas, index=produtos)
print(vendas)

copo         5
celular      2
caderno      5
caneta       7
televisão    3
dtype: int64

**Exercício 2: Criar um DataFrame Básico**
<br>
<br>
Objetivo: Criar um DataFrame para guardar o nome e a idade de três animais de estimação.

In [39]:
animais = pd.DataFrame({
    'Nome': ['Apollo', 'Bella', 'Mel'],
    'Idade': [4, 1, 3]
})

df = animais
print(df)

     Nome  Idade
0  Apollo      4
1   Bella      1
2     Mel      3

**Exercício 3: Selecionar uma Única Coluna**
<br>
<br>
Objetivo: A partir do DataFrame de animais de estimação do exercício anterior, selecionar e exibir apenas a coluna 'Nome'.

In [40]:
df['Nome']

0    Apollo
1     Bella
2       Mel
Name: Nome, dtype: object

**Exercício 4: Selecionar a Primeira Linha**
<br>
<br>
Objetivo: A partir do DataFrame de animais de estimação, selecionar e exibir apenas a primeira linha completa.

In [41]:
df.iloc[0]

Nome     Apollo
Idade         4
Name: 0, dtype: object

**Exercício 5: Filtragem Simples por Valor**
<br>
<br>
Objetivo: Criar um DataFrame com uma lista de produtos e seus preços. Em seguida, filtrar e mostrar apenas os produtos que custam mais de R$ 10,00.

In [48]:
produtos = pd.DataFrame({
    'Produto': ['Carne', 'Arroz', 'Macarrão'],
    'Preco': [35, 15.7, 6]
})

df = produtos.query('Preco > 10')
print(df)

  Produto  Preco
0   Carne   35.0
1   Arroz   15.7

**Exercício 6: Selecionar Múltiplas Colunas**
<br>
<br>
Objetivo: A partir de um DataFrame contendo produtos, preços e quantidade em estoque, selecionar e exibir apenas as colunas 'Produto' e 'Estoque'.

In [54]:
produtos_2 = pd.DataFrame({
    'Produto': ['Carne', 'Arroz', 'Macarrão'],
    'Preco': [35, 15.7, 6],
    'Estoque': [17, 195, 87]
})

produtos_2[['Produto', 'Estoque']]

    Produto  Estoque
0     Carne       17
1     Arroz      195
2  Macarrão       87

**Exercício 7: Adicionar uma Nova Coluna**
<br>
<br>
Objetivo: Criar um DataFrame com o nome de alunos e suas notas. Em seguida, adicionar uma nova coluna chamada 'Situacao' com os valores 'Aprovado' ou 'Reprovado'.

In [65]:
alunos = pd.DataFrame({
    'Nome': ['João', 'Ana', 'Maria'],
    'Nota': [9, 5, 7]
})

# Atribuindo uma nova coluna (forma "simples")
alunos['Situacao'] = ['Aprovado', 'Reprovado', 'Aprovado']

# Atribuindo uma nova coluna usando "insert"
alunos.insert(loc = 3, column='Ano', value=['2°', '3°', '2°'])
df = alunos
df

    Nome  Nota   Situacao Ano
0   João     9   Aprovado  2°
1    Ana     5  Reprovado  3°
2  Maria     7   Aprovado  2°

**Exercício 8: Usar .shape e .dtypes**
<br>
<br>
Objetivo: A partir de um DataFrame com diferentes tipos de dados, usar os atributos .shape e .dtypes para descobrir o número de linhas/colunas e os tipos de dados de cada coluna, respectivamente.

In [66]:
df.shape

(3, 4)

In [70]:
df.dtypes

Nome        object
Nota         int64
Situacao    object
Ano         object
dtype: object

**Exercício 9: Filtragem com Múltiplas Condições**
<br>
<br>
Objetivo: A partir de um DataFrame de funcionários, filtrar e exibir apenas os que trabalham no setor 'Vendas' E que têm idade superior a 30 anos.

In [80]:
funcionarios = pd.DataFrame({
    'Nome': ['Marcio', 'Roberto', 'Rafaela', 'Jurandir', 'Lurdes'],
    'Idade': [25, 35, 23, 41, 31],
    'Setor': ['Vendas', 'Vendas', 'Logistica', 'TI', 'Vendas']
})

funcionarios.query('Setor == "Vendas" and Idade > 30')

      Nome  Idade   Setor
1  Roberto     35  Vendas
4   Lurdes     31  Vendas

**Exercício 10: Ordenar Dados com .sort_values()**
<br>
<br>
Objetivo: A partir de um DataFrame de pontuações de jogadores, ordenar os dados pela coluna 'Pontos' em ordem decrescente (do maior para o menor) para criar um ranking.

In [86]:
pontuacao_jogadores = pd.DataFrame({
    'Nome': ['Romário', 'Adriano', 'Roberto'],
    'Pontuacao': [10, 9, 4]
})

df = pontuacao_jogadores
df.sort_values(by='Pontuacao', ascending=False)

      Nome  Pontuacao
0  Romário         10
1  Adriano          9
2  Roberto          4