In [5]:
import pandas as pd

In [2]:
caminho = 'arquivos/filmes_series.xlsx'

In [3]:
df = pd.read_excel(caminho, sheet_name='Series de TV')

In [15]:
df.head()

,titulo,genero,servico_streaming,ano_lancamento,episodios,nota_imdb
0,A Maldição de Volkov,Comédia,Disney+,2021,20,9.2
1,O Jogo das Sombras,Ficção Científica,Amazon Prime Video,2019,10,7.7
2,O Jogo das Sombras,Fantasia,Amazon Prime Video,2016,30,6.9
3,A Ilha dos Desafios,Suspense,HBO Max,2015,18,8.1
4,Código Secreto,Fantasia,Netflix,2021,41,7.5

Série com mais episódios

In [14]:
df.sort_values(by='episodios', ascending=False).head(1)

,titulo,genero,servico_streaming,ano_lancamento,episodios,nota_imdb
27,A Maldição de Volkov,Comédia,HBO Max,2024,48,9.5

Agrupar por genero

In [29]:
genero = df.groupby(by='genero').count().sort_values(by='titulo', ascending=False)
genero[['titulo']]

                   titulo
genero
Suspense               24
Comédia                21
Drama                  20
Fantasia               19
Ficção Científica      16

Streaming com mais séries

In [34]:
streaming = df.groupby(by='servico_streaming').count().sort_values(by='servico_streaming', ascending=False)
streaming[['titulo']]

                    titulo
servico_streaming
Star+                   20
Netflix                 20
HBO Max                 25
Disney+                 17
Amazon Prime Video      18