**Dia 2: Lendo Dados:** A função mais importante! pd.read_csv() e pd.read_excel(). 
<br>
<br>
Explore os parâmetros essenciais como sep, header e decimal.

In [1]:
import pandas as pd

### Lendo CSV (read_csv)

In [ ]:
# sep=',' -> delimitador do csv
# decimal=',' -> quer dizer que os valores decimais estão separados por ',', ex: R$10,50.
df = pd.read_csv('vendas_loja.csv', sep=';', decimal=',')
df.head()

,data,produto,categoria,quantidade,preco_unitario,valor_total
0,2025-07-30,Fone de Ouvido,Periféricos,4,4589.94,18359.76
1,2025-07-08,Laptop,Eletrônicos,4,3526.15,14104.60
2,2025-06-01,Fone de Ouvido,Periféricos,3,1068.22,3204.66
3,2025-06-28,Fone de Ouvido,Periféricos,2,933.85,1867.70
4,2025-07-21,SSD Externo,Periféricos,3,2390.20,7170.60

### Lendo EXCEL (read_excel)

In [ ]:
# sheet_name='Nome' -> especifica a aba que você quer abrir do Excel
df = pd.read_excel('filmes_series.xlsx', sheet_name='Series de TV')
df.head()

,titulo,genero,servico_streaming,ano_lancamento,episodios,nota_imdb
0,A Maldição de Volkov,Comédia,Disney+,2021,20,9.2
1,O Jogo das Sombras,Ficção Científica,Amazon Prime Video,2019,10,7.7
2,O Jogo das Sombras,Fantasia,Amazon Prime Video,2016,30,6.9
3,A Ilha dos Desafios,Suspense,HBO Max,2015,18,8.1
4,Código Secreto,Fantasia,Netflix,2021,41,7.5